/**
Main Colors: http://blog.visme.co/website-color-schemes/
#2C3531
#116466
#D9B08C
#FFCB9A
#D1E8E2
*/

body {
	background-color: #2C3531;
}

article {
	background-color: #FFCB9A;
}

header, nav {
	background-color: #116466;
}

footer {
	background-color: #D1E8E2;
}