/* EXERCISE 1.1 */

/* Main Colors */
body > header {background-color: #046DD5;}
aside {background-color: #2A2F33;}
body > footer {background-color: #2A2F33;}
article footer {background-color: #F4655F;}

/* Making checkbox and label invis */
#hamburger, .hamburger {visibility: hidden;}

/* Removing ul maks */
#menu ul {list-style-type: none;}

/* Setting Menu Sections */
#menu > ul > li{
	text-align: center;
	margin: 1em;
	padding: 1em;
	border-style: solid;
	border-width: thick 0 0 0;
}
/* Menu Sections Colors */
#menu li:nth-child(1) {border-color: #E1493E;}
#menu li:nth-child(2) {border-color: #8ABA56;}
#menu li:nth-child(3) {border-color: #5B4282;}
#menu li:nth-child(4) {border-color: #FF8932;}
#menu li:nth-child(5) {border-color: #19B6E9 ;}
#menu li:nth-child(6) {border-color: #E84C8B;}

