/* EXERCISE 1.1 */

/* Main Colors */
body > header 	{background-color: #046DD5;}
aside 			{background-color: #2A2F33;}
body > footer 	{background-color: #2A2F33;}
article footer 	{background-color: #F4655F;}
body 			{background-color: #EDEFF0;}
#menu			{background-color: white;}
#news 			{background-color: white;}

/* Making checkbox and label invis */
#hamburger, .hamburger {display:none/*visibility: hidden*/;}

/* Removing ul maks */
#menu ul {list-style-type: none;}

/* Setting Menu Sections */
#menu > ul > li{
	text-align: center;
	border-style: solid;
	border-width: thick 0 0 0;
}
/* Menu Sections Colors */
#menu li:nth-child(1) {border-color: #E1493E;}
#menu li:nth-child(2) {border-color: #8ABA56;}
#menu li:nth-child(3) {border-color: #5B4282;}
#menu li:nth-child(4) {border-color: #FF8932;}
#menu li:nth-child(5) {border-color: #19B6E9 ;}
#menu li:nth-child(6) {border-color: #E84C8B;}

/* Fonts applications */
* {
	font-family: 'Georgia', sans-serif;
}

header, h1, a, footer, #author #date {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color:white;
}

nav a {
	color:black;
}

#news > article > p:first-of-type:first-letter {
	font-size: 200%;
}

footer {
	color:white;
}

/* Marging and Padding details */
body {
	margin: 1em;
	padding: 0em;
}

body > header {
	padding: 1em;
	padding-bottom: 0.3em;
}

#related {
	padding:1em;
	color:white;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu ul > * {
	padding: 1em;
}

#signup a:nth-child(1) {
	padding-right: 1em;
}

#signup a:nth-child(2) {
	border-style: solid;
	border-width: 0 0 0 thin;
	padding-left: 1em;
}

/* Details */
body > footer {
	margin-top: 1em;
	margin-right: 1em;
	padding-left: 1em;
}

#news {
	margin-top: 1em;
	margin-right: 1em;
}

#news p {
	padding-left: 1em;
}

body > header > h1 {
	font-weight: 600;
	font-size: 1.6em;
	margin-bottom: 0;
}

body > header > h2 {
	font-size: 0.8em;
	margin-top: 0.3em;
}

body > header > #signup{
	font-size: 0.75em;
	padding-right: 1em;
}

#menu {
	font-size: 1em;
	font-weight:500;
}

#news footer {
	padding: 1em;
	font-size: 0.8em;
}

span.tags a, a.comments {
	text-decoration: underline;
}