.btn-bar {
    display: flex;
    justify-content: space-around;
    margin: 2.5em auto $default-margin auto;
    width: 50%;
    @media (min-width: #{$collapse-xl}) and (max-width: #{$collapse-xxl}) {
        width: 60%;
    }
    @media (max-width: #{$collapse-m}) {
        width: 60%;
    }
    @media (max-width: #{$collapse-m}) {
        width: 70%;
    }
    @media (max-width: #{$collapse-s}) {
        width: 80%;
    }
    @media (max-width: #{$collapse-xs}) {
        flex-flow: column;
        width: 100%;
    }
}

.btn {
    height: $btn-height;
    width: $btn-width;
    line-height: $btn-height;
    margin: 0 $default-margin;
    vertical-align: middle;
    border-radius: calc(#{$btn-height} / 2);
    background: linear-gradient($riptide, $medium-turquoise);
    display: flex;
    justify-content: space-between;
    @media (max-width: #{$collapse-xs}) {
        width: 100%;
        border-radius: 0;
        margin: 0;
        //background: linear-gradient($riptide, $medium-turquoise);
    }
     :first-child {
        margin-left: $default-margin;
    }
     :last-child {
        margin-right: $default-margin;
    }
    * {
        color: $payne-s-grey;
    }
}