.btn-bar {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
    @media (max-width: #{$collapse-m}) {
        width: 70%;
    }
    @media (max-width: #{$collapse-s}) {
        width: 80%;
    }
    @media (max-width: #{$collapse-xs}) {
        flex-flow: column;
        width: 100%;
    }
}

.btn {
    height: $btn-height;
    width: $btn-width;
    line-height: $btn-height;
    margin: 0 $default-margin;
    vertical-align: middle;
}