.sidebar-calendar {
    display: none;
    position: fixed;
    top: $nav-height;
    right: 0;
    background: linear-gradient(to right, $payne-s-grey, $payne-s-grey-darker);
    width: $calendar-width;
    height: calc(100vh - #{$nav-height});
    z-index: 3000;
    @media (min-width: #{$collapse-xl}) {
        display: block;
    }
}