.sidebar-calendar {
    display: none;
    position: fixed;
    top: $nav-height;
    right: 0;
    background-color: $grey-light;
    width: $calendar-width;
    height: calc(100vh - #{$nav-height});
    z-index: 3000;
    @media (min-width: #{$collapse-xl}) {
        display: flex;
        flex-flow: column;
    }
}

.calendar-widget {
    padding: $default-padding;
    color: $payne-s-grey;
    background-color: $grey-light;
    box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
    .fa {
        color: $payne-s-grey;
    }
    .header {
        font-size: 1.5em;
        height: 5em;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        #label-month {
            font-size: 1.8em;
        }
        >div {
            flex-grow: 1;
            margin-left: 5px;
        }
    }
    #cal-frame {
        td,
        th {
            width: calc((#{$calendar-width} - #{$default-margin} * 2) / 7);
            height: calc((#{$calendar-width} - #{$default-margin} * 2) / 7);
            text-align: center;
            vertical-align: middle;
            position: relative;
            p {
                line-height: 2;
                border-radius: 50%;
                height: 2em;
                width: 2em;
                margin: auto;
            }
            i.fa-circle {
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 100%;
                font-size: 0.3em;
            }
            i.fa-circle.priority-0 {
                color: $priority-0;
            }
            i.fa-circle.priority-1 {
                color: $priority-1;
            }
            i.fa-circle.priority-2 {
                color: $priority-2;
            }
            i.fa-circle.priority-3 {
                color: $priority-3;
            }
        }
        .calendar-today {
            background-color: $riptide;
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.14), 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0px rgba(0, 0, 0, 0.12);
        }
    }
}

#next-tasks {
    margin-top: $default-margin;
    color: $payne-s-grey;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    >h2 {
        font-size: 1.5em;
        margin-bottom: 0.3em;
        padding-left: 2em;
    }
    .date-of-next-taks {
        width: 6em;
    }
    .next-tasks {
        flex-grow: 1;
        overflow: auto;
    }
    .next-tasks-item:hover {
        box-shadow: 0 -7px 10px -5px rgba(0, 0, 0, 0.2), 0 7px 10px -5px rgba(0, 0, 0, 0.2);
        z-index: 5;
        transition-duration: 0.4s;
    }
    .next-tasks-item {
        position: relative;
        display: flex;
        align-items: center;
        vertical-align: middle;
        padding: $default-padding;
        background-color: #efefef;
        transition-duration: 0.4s;
        ul {
            display: flex;
        }
        ul:before {
            content: "\f111";
            font-family: 'FontAwesome';
            font-size: 0.5em;
            height: 3.5em;
            margin-right: $default-margin;
            margin-top: 0.5em;
            color: $riptide;
        }
        ul.priority-0:before {
            color: $priority-0;
        }
        ul.priority-1:before {
            color: $priority-1;
        }
        ul.priority-2:before {
            color: $priority-2;
        }
        ul.priority-3:before {
            color: $priority-3;
        }
    }
}