$payne-s-grey: #3C3E52;
$payne-s-grey-darker: #232539;
$cards: rgb(250, 250, 250);
$grey-dark:#202328;
$grey:#2b2e37;
$grey-light: #e1e1e1;
$background: rgb(232, 232, 232);
$medium-turquoise: #53C5B9;
$riptide: #80E3D1;