$payne-s-grey: #3C3E52;
$payne-s-grey-darker: #232539;
$payne-s-grey-lighter: #4e5068;
$cards: rgb(250, 250, 250);
$grey-dark:#202328;
$grey:#2b2e37;
$grey-light: #e1e1e1;
$background: rgb(232, 232, 232);
$medium-turquoise: #53C5B9;
$riptide: #80E3D1;
$riptide-faded: rgb(120, 212, 195);
$footer-color: rgb(195, 224, 217);
$white: #FFFFFF;
$gradient-turquoise: linear-gradient($riptide, $medium-turquoise);
$gradient-grey: linear-gradient($payne-s-grey, $payne-s-grey-darker);
$gradient-grey-to-blue: linear-gradient($medium-turquoise, $payne-s-grey-darker);
$gradient-footer: linear-gradient(to right, $footer-color, $background, $background);
$priority-0:#cfd8dc;
$priority-1:#43a047;
$priority-2:#ffeb3b;
$priority-3:#f4511e;
$delete-red: #E24444;