.fa {
    color: $riptide;
}

.fa.fa-rss,
.fa.fa-user-circle,
.fa.fa-sign-out {
    font-size: x-large;
    transition: font-size 0.1s;
}

.fa.fa-rss:hover,
.fa.fa-user-circle:hover,
.fa.fa-sign-out:hover {
    font-size: xx-large;
}

.fa.fa-search {
    font-size: larger;
    color: $payne-s-grey-lighter;
}

.fa-circular-grey {
    background-color: $grey-light;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    i {
        font-size: 1em;
        color: $payne-s-grey;
    }
}