a {
    text-decoration: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    min-width: 320px;
}

body {
    background-color: $background;
}

.rnd-corners {
    border-radius: $border-radius;
}

.shadow-boxes {
    box-shadow: 0 8px 50px 10px rgba(0, 0, 0, 0.3);
}

.shadow-cards {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition-duration: 0.4s;
}

.shadow-cards:hover {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.14), 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition-duration: 0.4s;
}

.circle-box {
    border-radius: 50%;
}

input[type=submit],
input[type=button],
input[type=text],
input[type=file],
input[type=e-mail],
input[type=password],
textarea,
button {
    font-family: 'Montserrat', sans-serif;
}

button:focus,
input:focus {
    outline: 0;
}

input[type=text],
input[type=password],
input[type=e-mail] {
    border-radius: $border-radius;
    border-style: initial;
    padding-left: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: background-color 1s linear 99999s, color 1s linear 99999s !important;
}