#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}

.feed-container {
    position: relative;
    padding-top: $nav-height;
    min-height: calc(100vh - #{$nav-height} - #{$footer-height} - 1px);
    @media (min-width: #{$collapse-xl}) {
        width: calc(100% - #{$calendar-width});
    }
}

#addTask {
    background-color: $cards;
    width: 50%;
    margin: 2.5em auto;
    display: flex;
    @media (max-width: #{$collapse-xs}) {
        width: calc(100% - 2 * #{$default-margin});
    }
    form {
        width: 100%;
        outline: none;
        input {
            display: none;
            float: right;
            height: 3em;
            margin: 0;
            border: none;
        }
        input[type=text] {
            background-color: $cards;
            width: calc(100% - 2 * #{$default-padding});
            padding: 0 $default-padding;
        }
        input[type=date] {
            background-color: $cards;
        }
        input[type=submit] {
            color: $grey;
            width: 10em;
            float: right;
            border: none;
        }
        nav {
            display: none;
            float: right;
            height: 40px;
            overflow: hidden;
            width: 30px;
            -webkit-transition: width .5s;
            transition: width .5s;
            i {
                display: none;
                margin: 2px;
                font-size: 24px;
                line-height: 40px;
                vertical-align: middle;
            }
            i.active {
                display: inline-block;
            }
            i.priority-0 {
                color: $priority-0;
            }
            i.priority-1 {
                color: $priority-1;
            }
            i.priority-2 {
                color: $priority-2;
            }
            i.priority-3 {
                color: $priority-3;
            }
        }
        nav:hover {
            width: 116px;
            i {
                display: inline-block;
            }
        }
        #addTask_title::placeholder {
            font-weight: bold;
        }
        #addTask_item {
            display: block;
        }
    }
}

.btn-group {
    >a {
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: $payne-s-grey;
        width: calc(100% - 2em);
    }
     :last-child {
        width: auto;
        border-style: none;
    }
}

.masonry {
    max-width: $masonry-max-width;
    margin: 0 $default-margin;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: $masonry-gap;
    -moz-column-fill: balance;
    column-fill: balance;
    @media (min-width: 1374px), (min-width: 1008px) and (max-width: #{$collapse-xl}) {
        margin: 0 auto;
    }
    @media (max-width: #{$collapse-m}) {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
    @media (max-width: #{$collapse-xs}) {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }
}

.masonry-item {
    display: inline-block;
    width: 100%;
    margin-top: calc(#{$masonry-gap} / 2);
    margin-bottom: calc(#{$masonry-gap} / 2);
    transition: .5s;
    article {
        position: relative;
        padding: $default-padding;
        background-color: $cards;
        /* TO-DO Lists inside Projects */
        >article {
            padding: $default-padding;
            display: inline-block;
            margin: calc(#{$masonry-gap} / 2);
            background-color: $background;
            width: calc(100% - 2.5em);
        }
        >#info-nav {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            opacity: 0;
            transition: .5s;
            @media (max-width: #{$collapse-xs}) {
                opacity: 1;
            }
            a {
                margin: 1px 2px;
                >img.thumbnail-circular {
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                    transition: 0.2s;
                    border-style: solid;
                    border-width: 0px;
                    border-color: $payne-s-grey;
                }
            }
            a.active>img.thumbnail-circular,
            a:hover>img.thumbnail-circular {
                border-width: 1.5px;
            }
        }
        .addSubList {
            border-style: none;
            background-color: $cards;
            color: $payne-s-grey;
            i:before {
                color: $payne-s-grey;
            }
        }
        >a {
            opacity: 0;
            position: absolute;
            right: calc(0px - 6.25px);
            top: calc(0px - 6.25px);
            @media (max-width: #{$collapse-xs}) {
                opacity: 1;
            }
        }
    }
}

.masonry-item:hover {
    transition: .5s;
    article {
        >#info-nav {
            opacity: 1;
        }
        >a {
            opacity: 1;
        }
    }
}

footer {
    background-color: #D1E8E2;
}

@import "calendar"