.rnd-corners {
    border-radius: $border-radius;
}

.shadow-boxes {
    box-shadow: 0 8px 50px 10px rgba(0, 0, 0, 0.3);
}

.shadow-cards {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition-duration: 0.4s;
}

div.shadow-cards:hover {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.14), 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition-duration: 0.4s;
}

.circle-box {
    border-radius: 50%;
}

a {
    text-decoration: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

body {
    background-color: $background;
}

#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}

.nav-bar ul {
    #info {
        flex-grow: 1;
    }
    #search {
        flex-grow: 3;
    }
    #user {
        flex-grow: 1;
    }
}

.feed-container {
    padding-top: $nav-height;
    min-height: calc(100vh - #{$nav-height} - #{$footer-height} - 1px);
    @media (min-width: #{$collapse-xl}) {
        width: calc(100% - #{$calendar-width});
    }
}

.btn-group {
    >a {
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: $payne-s-grey;
        width: calc(100% - 2em);
    }
     :last-child {
        width: auto;
        border-style: none;
    }
}

.masonry {
    margin: 0 $default-margin;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-fill: auto;
    column-fill: auto;
    max-width: $masonry-max-width;
    column-gap: $masonry-gap;
    column-fill: initial;
    @media (min-width: 1374px), (min-width: 1008px) and (max-width: #{$collapse-xl}) {
        margin: 0 auto;
    }
    @media (max-width: #{$collapse-s}) {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
    @media (max-width: #{$collapse-xs}) {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }
}

.masonry-item {
    display: inline-block;
    margin: calc(#{$masonry-gap} / 2) 0;
    background-color: $cards;
    width: 100%;
    >article {
        padding: $default-padding;
        background-color: $cards;
        /* TO-DO Lists inside Projects */
        >article {
            padding: $default-padding;
            display: inline-block;
            margin: calc(#{$masonry-gap} / 2);
            background-color: $background;
            width: calc(100% - 2.5em);
        }
    }
}

footer {
    background-color: #D1E8E2;
}

@import "calendar";