/**
Main Colors: http://blog.visme.co/website-color-schemes/
#2C3531
#116466
#D9B08C
#FFCB9A
#D1E8E2
*/

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #2C3531;
}

article {
    background-color: #FFCB9A;
}

#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}

main {
    margin-top: $nav-height;
}

.nav-bar ul {
    #info {
        flex-grow: 1;
    }
    #search {
        flex-grow: 3;
    }
    #user {
        flex-grow: 1;
    }
}

.btn-bar {
    width: 50%;
}

.feed-container {
    margin: auto $default-margin;
}

.masonry {
    column-count: 3;
    column-gap: 15px;
    column-fill: initial;
}

.masonry-item {
    display: inline-block;
    margin-bottom: $default-margin;
    width: 100%;
}

footer {
    background-color: #D1E8E2;
}