/**
Main Colors: http://blog.visme.co/website-color-schemes/
#2C3531
#116466
#D9B08C
#FFCB9A
#D1E8E2
*/

a {
    text-decoration: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

body {
    background-color: $background;
}

#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}

.nav-bar ul {
    #info {
        flex-grow: 1;
    }
    #search {
        flex-grow: 3;
    }
    #user {
        flex-grow: 1;
    }
}

.feed-container {
    padding-top: $nav-height;
    min-height: calc(100vh - #{$nav-height} - #{$footer-height});
    @media (min-width: #{$collapse-xl}) {
        width: calc(100% - #{$calendar-width});
    }
}

.masonry {
    margin: 0 auto;
    column-count: 4;
    max-width: $masonry-max-width;
    column-gap: 15px;
    column-fill: initial;
    @media (max-width: 1600px) {
        margin: 0 $default-margin;
    }
    @media (min-width: #{$collapse-xl}) and (max-width: #{$collapse-xxl}) {
        column-count: 3;
    }
    @media (max-width: #{$collapse-l}) {
        column-count: 3;
    }
    @media (max-width: #{$collapse-s}) {
        column-count: 2;
    }
    @media (max-width: #{$collapse-xs}) {
        column-count: 1;
    }
}

.masonry-item {
    display: inline-block;
    margin-bottom: $default-margin;
    background-color: $cards;
    width: 100%;
    >article {
        padding: $default-padding;
    }
}

footer {
    background-color: #D1E8E2;
}

@import "calendar";