#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}

.feed-container {
    position: relative;
    padding-top: $nav-height;
    min-height: calc(100vh - #{$nav-height} - #{$footer-height} - 1px);
    @media (min-width: #{$collapse-xl}) {
        width: calc(100% - #{$calendar-width});
    }
}

#addItem {
    background-color: $cards;
    width: 50%;
    height: 2.5em;
    margin: 2.5em auto;
    display: flex;
    form {
        height: 100%;
        width: 100%;
        input {
            width: 100%;
            height: 100%;
            padding: 0 $default-padding;
        }
        #submit {
            display: none;
        }
    }
}

#addItem input:focus {
    background-color: red;
}

.btn-group {
    >a {
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: $payne-s-grey;
        width: calc(100% - 2em);
    }
     :last-child {
        width: auto;
        border-style: none;
    }
}

.masonry {
    max-width: $masonry-max-width;
    margin: 0 $default-margin;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: $masonry-gap;
    -moz-column-fill: balance;
    column-fill: balance;
    @media (min-width: 1374px), (min-width: 1008px) and (max-width: #{$collapse-xl}) {
        margin: 0 auto;
    }
    @media (max-width: #{$collapse-s}) {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
    @media (max-width: #{$collapse-xs}) {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }
}

.masonry-item {
    display: inline-block;
    width: 100%;
    margin-top: calc(#{$masonry-gap} / 2);
    margin-bottom: calc(#{$masonry-gap} / 2);
    article {
        z-index: 10;
        padding: $default-padding;
        background-color: $cards;
        /* TO-DO Lists inside Projects */
        >article {
            padding: $default-padding;
            display: inline-block;
            margin: calc(#{$masonry-gap} / 2);
            background-color: $background;
            width: calc(100% - 2.5em);
        }
    }
}

footer {
    background-color: #D1E8E2;
}

@import "calendar"