.main {
    //padding-top: $nav-height;
    margin: 20%;
    border-radius: $border-radius;

    display: flex;
    flex-direction: row-reverse;
}

.site-description {
    flex: 1;

    padding: 2em;
    border-radius: $border-radius 0 0 $border-radius;
    
    background: $gradient-turqoise;
}

.sign-user {
    flex: 1;

    padding: 2em;
    border-radius: 0 $border-radius $border-radius 0;    
    
    background: $gradient-grey; 
}

.switch-btn {
    
    height: 2em;
    width: 8em;
    background: $payne-s-grey-lighter;

    .sign-in-btn, .sign-up-btn {
        flex: auto; 
        background: none;
        color: $white;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .sign-in-btn {
        border-radius: $border-radius 0 0 $border-radius;
    }

    .sign-up-btn {
        border-radius: 0 $border-radius $border-radius 0;
    }
}
