.main {
    margin: calc(#{$nav-height} + 7%) auto 7%;
    border-radius: $medium-border-radius;
    display: flex;
    flex-direction: row-reverse;
    max-width: calc(#{$block-width} * 2);
    align-content: center;

    @media (max-width: #{$collapse-xs}) {
        margin: $nav-height 0 0;
        max-width: none;
        flex-direction: column-reverse;
        border-radius: 0;
        background: $gradient-grey-to-blue;
    }
}

.site-description {
    border-radius: $medium-border-radius 0 0 $medium-border-radius;
    background: $gradient-turquoise;

    p {
        @media (max-width: #{$collapse-xs}) {
            text-align: center;
        }
    }
}

.sign-user {
    border-radius: 0 $medium-border-radius $medium-border-radius 0;
    background: $gradient-grey;
}

.site-description,
.sign-user {
    flex: 1;
    padding: 2em;
    max-width: $block-width;

    @media (max-width: #{$collapse-xs}) and (min-width: #{$collapse-phone}) {
        max-width: none;
        border-radius: 0;
        padding-left: 20%;
        padding-right: 20%;
        background: none;
    }

    @media (max-width: #{$collapse-phone}) {
        max-width: none;
        border-radius: 0;
    }
}

.switch-btn {
    height: 2em;
    width: 8em;
    background: $payne-s-grey-lighter;
    margin: 0;
    float: right;
    border-radius: $round-border-radius;
    .sign-in-btn,
    .sign-up-btn {
        flex: auto;
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        color: $white;
        font-size: 12px;
    }
    .sign-in-btn {
        border-radius: $border-radius 0 0 $border-radius;
        background: $gradient-turquoise;
    }
    .sign-up-btn {
        border-radius: 0 $border-radius $border-radius 0;
    }
}

#sign-in,
#sign-up {
    padding-top: 2em;
    color: $white;
    display: inline-block;
    fieldset {
        font-size: 12px;
    }
    legend {
        text-align: center;
        margin-bottom: 2em;
        font-size: 15px;
    }
    input[type=text],
    input[type=password],
    input[type=e-mail] {
        color: $white;
        background-color: transparent;
        width: 100%;
        padding-bottom: 4px;
        margin-bottom: 1.8em;
        margin-top: 0.8em;
        border-bottom: 2px solid $payne-s-grey-lighter;
        -webkit-transition: border-color 0.8s, background-color 1s linear 99999s, color 1s linear 99999s !important;
        transition: border-color 0.8s;
    }
    input[type=text]:focus,
    input[type=password]:focus,
    input[type=e-mail]:focus {
        border-color: $riptide;
    }
    input[type=submit] {
        float: right;
        margin-top: 1em;
        padding: 0.8em;
        border: 0;
        border-radius: $round-border-radius;
        font-size: 12px;
        color: $white;
        background: $payne-s-grey-lighter;
        transition: background 1s;
    }
    input[type=submit]:hover {
        background: $riptide;
    }
}

#sign-up {
    display: none;
}