.nav-bar {
    background-color: $grey;
    height: $nav-height;
    ul {
        height: $nav-height;
        display: flex;
        li {
            display: flex;
            align-items: center;
            >* {
                display: inline-block;
            }
        }
    }
}

.nav-bar ul {
    #info {
        #logo-img {
            width: 60px;
        }
        flex-grow: 1;
    }
    #search {
        flex-grow: 3;
    }
    #user {
        flex-grow: 1;
    }
}

#search-bar {
    height: 2em;
    padding-left: 2.5em;
    font-size: 1rem;
    border-radius: $round-border-radius;
    border-color: $riptide;
    background-color: $riptide-faded;
    width: 15%;
    transition: width 0.5s;
}

#search-bar:focus {
    width: 70%;
}

.fa-search {
    position: relative;
    left: 1.6em;
}

#info {
    h1 {
        font-size: 2em;
        margin-left: 0;
        margin-right: auto;
        a {
            color: white;
        }
    }
    img {
        margin-right: 0;
        padding-right: 1em;
        margin-left: auto;
    }
}

#user>* {
    margin: auto;
}

.logout-btn {
    background: none;
    border: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}