.nav-bar {
    background: linear-gradient($riptide, $medium-turquoise);
    height: $nav-height;
    ul {
        height: $nav-height;
        display: flex;
        li {
            display: flex;
            align-items: center;
            >* {
                display: inline-block;
            }
        }
    }
}