.nav-bar {
    background-color: $grey;
    height: $nav-height;
    ul {
        height: $nav-height;
        display: flex;
        li {
            display: flex;
            align-items: center;
            >* {
                display: inline-block;
            }
        }
    }
}

.nav-bar ul {
    #info {
        flex-grow: 1;
    }
    #search {
        flex-grow: 3;
    }
    #user {
        flex-grow: 1;
    }
}

#search-bar {
    height: 2em;
    padding-left: 2.5em;
    font-size: 1rem;
    border-radius: $round-border-radius;
    border-color: $riptide;
}

.fa-search {
    position: relative;
    left: 1.6em;
}