$photo-width: 40%;
$info-width: 60%;

.profile-container {
    margin: 5%;
    padding-top: $nav-height;

    display: grid;
    grid-template-columns: $photo-width $info-width;
    grid-template-rows: auto auto;
    grid-template-areas: "image info"
                         "uploader edit";

    @media (min-width: #{$collapse-xl}) {
        width: calc(100% - #{$calendar-width} - 10%);
    }

    @media (max-width: #{$collapse-m}) {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "info"
                             "image"
                             "edit";
    }

    @media (max-width: #{$collapse-phone}) {
        margin: 5% 0;
    }

}

.profile-pic {
    margin: $default-margin;
    display: inline-block;
    width: auto;
    grid-area: image;
    
    img {
        border-radius: $round-border-radius;
    }

    @media (max-width: #{$collapse-m}) {
        margin: 0 auto 160px;
        position: relative;
    }
}

.username-info {
    width: auto;
    padding-left: $default-padding;
    padding-top: 2em;
    grid-area: info;

    @media (max-width: #{$collapse-m}) {
        padding: 0 10%;
        height: 50px;
    }

    h2 {
        font-size: x-large;
        font-weight: bold;
        padding-bottom: $default-padding;
        border-bottom: 2px solid $grey;

        @media (max-width: #{$collapse-m}) {
            border: 0;
            padding-top: 0;
            text-align: center;
        }
    }

    h4 {
        padding-top: $default-padding;
        text-align: justify;
        line-height: 1.5rem;
    }
}

.username-info {
    h4 ,
    textarea {
        @media (max-width: #{$collapse-m}) {
            grid-area: about;
            position: relative;
            top: $profile-image-size;
            height: 100px;
        }
    }
}

#edit-profile,
#save-changes {
    font-size: 1em;
    margin-left: $photo-width;
    border: none;
    grid-area: edit;

    i {
        width: auto;
        align-self: center;
        font-size: x-large;
    }

    @media (max-width: #{$collapse-xs}) and (min-width: #{$collapse-phone}) {
        width: 70%;
        border-radius: $border-radius;
    }
}


#save-changes-about {
    font-size: 1em;
    margin: -50px auto 0 auto;
    border: none;
}


#edit-profile {
    @media (max-width: #{$collapse-m}) {
        margin: 0 auto 0;
    }
}

#save-changes {
    position: relative;
    left: $photo-width * ($info-width / 100%);
    bottom: 21px;
    text-align: center;

    @media (max-width: #{$collapse-xs}) {
        margin: 0 auto 0;
        left: 0;
        bottom: 0;
        top: 30px;
    }
}

//Css for edition elements
textarea {
    margin-top: 2em;
    width: 100%;
    height: 40%;
    border-color: $grey;
    border-radius: $border-radius;
    resize: none;
}

textarea:focus {
    outline-color: $riptide;
}

.updater {
    grid-area: uploader / uploader / uploader / edit;

    @media (max-width: #{$collapse-m}) {
        grid-area: edit;
        height: 100px;
    }
}

.image-uploader {
    grid-area: uploader;
    padding-left: 5%;

    @media (max-width: #{$collapse-xs}) {
        width: auto;
        padding-left: 12%;
    }
}

