$duration-check_box: 0.8s;
.todo-list {
    background: #FFF;
    font-size: 1em;
    max-width: 15em;
    margin: auto;
    padding: 0.5em 1em;
}

.todo {
    display: block;
    position: relative;
    padding: 0.4em 1em 0.4em 16%;
    margin: 0 auto;
    border-bottom: solid 1px $grey-light;
    &:last-child {
        border-bottom: none;
    }
    input[type=text] {
        background-color: $cards;
        width: 100%;
        font-size: 100%;
        border-radius: 0 !important;
        padding: 0 !important;
    }
}

.todo__state {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    width: 25px;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

.todo__text {
    color: $grey;
    transition: all $duration-check_box/2 linear $duration-check_box/2;
    height: 100%;
}

.todo__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25px;
    height: auto;
    margin: auto;
    fill: none;
    stroke: $riptide;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.todo__icon_line {
    width: 90%;
    margin-left: 10%;
    z-index: -1;
}

.todo__line,
.todo__box,
.todo__check {
    transition: stroke-dashoffset $duration-check_box cubic-bezier(.9, .0, .5, 1);
}

.todo__circle {
    stroke: $riptide;
    stroke-dasharray: 1 6;
    stroke-width: 0;
    transform-origin: 13.5px 12.5px;
    transform: scale(0.4) rotate(0deg);
    animation: none $duration-check_box linear; //cubic-bezier(.08,.56,.04,.98);
    @keyframes explode {
        //0% { stroke-width: 0; transform: scale(0.5) rotate(0deg); }
        30% {
            stroke-width: 3;
            stroke-opacity: 1;
            transform: scale(0.8) rotate(40deg);
            //animation-timing-function: cubic-bezier(.89,.01,.95,.51);
        }
        100% {
            stroke-width: 0;
            stroke-opacity: 0;
            transform: scale(1.1) rotate(60deg);
            //animation-timing-function: cubic-bezier(.08,.56,.04,.98);
        }
    }
}

.todo__box {
    stroke-dasharray: 56.1053, 56.1053;
    stroke-dashoffset: 0;
    transition-delay: $duration-check_box * 0.2;
}

.todo__check {
    stroke: $riptide;
    stroke-dasharray: 9.8995, 9.8995;
    stroke-dashoffset: 9.8995;
    transition-duration: $duration-check_box * 0.4;
}

.todo__line {
    stroke-dasharray: 168, 2684;
    stroke-dashoffset: 168;
}

.todo__circle {
    animation-delay: $duration-check_box * 0.7;
    animation-duration: $duration-check_box * 0.7;
}

.todo__state:checked {
    ~.todo__text {
        transition-delay: 0s;
        color: $riptide;
        opacity: 0.6;
    }
    ~.todo__icon .todo__box {
        stroke-dashoffset: 56.1053;
        transition-delay: 0s;
    }
    ~.todo__icon .todo__line {
        stroke-dashoffset: -8;
    }
    ~.todo__icon .todo__check {
        stroke-dashoffset: 0;
        transition-delay: $duration-check_box * 0.6;
    }
    ~.todo__icon .todo__circle {
        animation-name: explode;
    }
    ~.todo__icon_line {
        z-index: 0;
    }
}

.todo__title {
    font-weight: bold;
<<<<<<< HEAD
    display: flex;
    i {
        margin-left: -0.5em;
        margin-right: 0.3em;
    }
    i:hover {
        cursor: pointer;
    }
    i.priority-0::before {
        color: $priority-0;
    }
    i.priority-1::before {
        color: $priority-1;
    }
    i.priority-2::before {
        color: $priority-2;
    }
    i.priority-3::before {
        color: $priority-3;
    }
=======
}

.todo__title.priority-0::before {
    content: "\f111";
    font-family: "FontAwesome";
    color: $priority-0;
    padding-right: 4px;
}
.todo__title.priority-1::before {
    content: "\f111";
    font-family: "FontAwesome";
    color: $priority-1;
    padding-right: 4px;
}
.todo__title.priority-2::before {
    content: "\f111";
    font-family: "FontAwesome";
    color: $priority-2;
    padding-right: 4px;
}
.todo__title.priority-3::before {
    content: "\f111";
    font-family: "FontAwesome";
    color: $priority-3;
    padding-right: 4px;
>>>>>>> 1d92d380a81c0817af839e1b32e4319e2c1e229c
}

.todo:hover a {
    opacity: 1;
}

.todo a {
    transition: .5s;
    opacity: 0;
    position: absolute;
    right: -10px;
    top: calc(50% - 12.5px);
    @media (max-width: #{$collapse-xs}) {
        opacity: 1;
    }
}