// Default Measure
$default-margin: 1em;
$default-padding: 1em;
$collapse-xs: 640px;
$collapse-s: 768px;
$collapse-m: 960px;
$collapse-l: 1068px;
$collapse-xl: 1280px;
$collapse-xxl: 1440px;
$border-radius: 0.2em;
$medium-border-radius: 0.5em;
$round-border-radius: 1em;
// Colors
// Nav Bar
$nav-height: 75px;
// Footer Bar
$footer-height: 1rem;
// Button
$btn-height: 2.5em;
$btn-width: 13em;
// Calendar
$calendar-width: 350px;
// Masonry
$masonry-max-width: 60em;
$masonry-gap: 1em;
//Login Page
$block-width: 300px;