/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fa {
  color: #80E3D1;
}

.fa.fa-rss,
.fa.fa-user-circle,
.fa.fa-sign-out {
  font-size: x-large;
  transition: font-size 0.1s;
}

.fa.fa-rss:hover,
.fa.fa-user-circle:hover,
.fa.fa-sign-out:hover {
  font-size: xx-large;
}

.fa.fa-search {
  font-size: larger;
  color: #4e5068;
}

a {
  text-decoration: none;
}

html {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
}

body {
  background-color: #e8e8e8;
}

.rnd-corners {
  border-radius: 0.2em;
}

.shadow-boxes {
  box-shadow: 0 8px 50px 10px rgba(0, 0, 0, 0.3);
}

.shadow-cards {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 0.4s;
}

.shadow-cards:hover {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.14), 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 0.4s;
}

.circle-box {
  border-radius: 50%;
}

input[type=submit],
input[type=button],
input[type=text],
input[type=file],
textarea,
form.image-uploader,
button {
  font-family: 'Montserrat', sans-serif;
}

.btn-bar {
  display: flex;
  justify-content: space-around;
  margin: 2.5em auto 1em auto;
  width: 50%;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .btn-bar {
    width: 60%;
  }
}

@media (max-width: 960px) {
  .btn-bar {
    width: 60%;
  }
}

@media (max-width: 960px) {
  .btn-bar {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .btn-bar {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .btn-bar {
    flex-flow: column;
    width: 100%;
  }
}

.btn {
  height: 2.5em;
  width: 13em;
  line-height: 2.5em;
  margin: 0 1em;
  vertical-align: middle;
  border-radius: calc(2.5em / 2);
  background: linear-gradient(#80E3D1, #53C5B9);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .btn {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}

.btn :first-child {
  margin-left: 1em;
}

.btn :last-child {
  margin-right: 1em;
}

.btn * {
  color: #3C3E52;
}

.nav-bar {
  background-color: #2b2e37;
  height: 75px;
}

.nav-bar ul {
  height: 75px;
  display: flex;
}

.nav-bar ul li {
  display: flex;
  align-items: center;
}

.nav-bar ul li > * {
  display: inline-block;
}

.nav-bar ul #info {
  flex-grow: 1;
}

.nav-bar ul #info #logo-img {
  width: 60px;
}

.nav-bar ul #info h1 {
  font-size: 2em;
  margin-left: 0;
  margin-right: auto;
}

.nav-bar ul #info h1 a {
  color: white;
}

.nav-bar ul #info img {
  margin-right: 0;
  padding-right: 1em;
  margin-left: auto;
}

.nav-bar ul #search {
  flex-grow: 3;
}

.nav-bar ul #user {
  width: 13em;
}

.nav-bar ul #user > * {
  align-content: center;
  width: 4em;
}

#search-bar {
  height: 2em;
  padding-left: 2.5em;
  font-size: 1rem;
  border-radius: 1em;
  border-color: #80E3D1;
  background-color: #78d4c3;
  width: 15%;
  transition: width 0.5s;
}

#search-bar:focus {
  width: 70%;
}

.fa-search {
  position: relative;
  left: 1.6em;
}

.logout-btn {
  background: none;
  border: 0;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
}

.feed-container {
  position: relative;
  padding-top: 75px;
  min-height: calc(100vh - 75px - 1rem - 1px);
}

@media (min-width: 1280px) {
  .feed-container {
    width: calc(100% - 350px);
  }
}

.btn-group > a {
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #3C3E52;
  width: calc(100% - 2em);
}

.btn-group :last-child {
  width: auto;
  border-style: none;
}

.masonry {
  max-width: 60em;
  margin: 0 1em;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  column-gap: 1em;
  -moz-column-fill: auto;
  column-fill: auto;
}

@media (min-width: 1374px), (min-width: 1008px) and (max-width: 1280px) {
  .masonry {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .masonry {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

@media (max-width: 640px) {
  .masonry {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}

.masonry-item {
  display: inline-block;
  width: 100%;
  margin-top: calc(1em / 2);
  margin-bottom: calc(1em / 2);
}

.masonry-item article {
  z-index: 10;
  padding: 1em;
  background-color: #fafafa;
  /* TO-DO Lists inside Projects */
}

.masonry-item article > article {
  padding: 1em;
  display: inline-block;
  margin: calc(1em / 2);
  background-color: #e8e8e8;
  width: calc(100% - 2.5em);
}

footer {
  background-color: #D1E8E2;
}

.sidebar-calendar {
  display: none;
  position: fixed;
  top: 75px;
  right: 0;
  background-color: #e1e1e1;
  width: 350px;
  height: calc(100vh - 75px);
  z-index: 3000;
}

@media (min-width: 1280px) {
  .sidebar-calendar {
    display: flex;
    flex-flow: column;
  }
}

.calendar-widget {
  padding: 1em;
  color: #3C3E52;
  background-color: #e1e1e1;
  box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
}

.calendar-widget .fa {
  color: #3C3E52;
}

.calendar-widget .header {
  font-size: 1.5em;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.calendar-widget .header #label-month {
  font-size: 1.8em;
}

.calendar-widget .header > div {
  flex-grow: 1;
  margin-left: 5px;
}

.calendar-widget #cal-frame td,
.calendar-widget #cal-frame th {
  width: calc((350px - 1em * 2) / 7);
  height: calc((350px - 1em * 2) / 7);
  text-align: center;
  vertical-align: middle;
}

.calendar-widget #cal-frame td p,
.calendar-widget #cal-frame th p {
  line-height: 2;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  margin: auto;
}

.calendar-widget #cal-frame .calendar-today {
  background-color: #80E3D1;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.14), 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#next-tasks {
  margin-top: 1em;
  color: #3C3E52;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

#next-tasks > h2 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  padding-left: 2em;
}

#next-tasks .date-of-next-taks {
  width: 6em;
}

#next-tasks .next-tasks {
  flex-grow: 1;
  overflow: overlay;
}

#next-tasks .next-tasks-item:hover {
  box-shadow: 0 -7px 10px -5px rgba(0, 0, 0, 0.2), 0 7px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 5;
  transition-duration: 0.4s;
}

#next-tasks .next-tasks-item {
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 1em;
  background-color: #efefef;
  transition-duration: 0.4s;
}

#next-tasks .next-tasks-item ul {
  display: flex;
}

#next-tasks .next-tasks-item ul:before {
  content: "\f111";
  font-family: 'FontAwesome';
  font-size: 0.5em;
  height: 3.5em;
  margin-right: 1em;
  margin-top: 0.5em;
  color: #80E3D1;
}

.main {
  margin: calc(75px + 7%) 20% 7%;
  border-radius: 0.2em;
  display: flex;
  flex-direction: row-reverse;
}

.site-description {
  flex: 1;
  padding: 2em;
  border-radius: 0.2em 0 0 0.2em;
  background: linear-gradient(#80E3D1, #53C5B9);
}

.sign-user {
  flex: 1;
  padding: 2em;
  border-radius: 0 0.2em 0.2em 0;
  background: linear-gradient(#3C3E52, #232539);
}

.switch-btn {
  height: 2em;
  width: 8em;
  background: #4e5068;
  margin: 0;
  float: right;
  float: top;
  border-radius: 1em;
}

.switch-btn .sign-in-btn,
.switch-btn .sign-up-btn {
  flex: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: #FFFFFF;
  font-size: 80%;
}

.switch-btn .sign-in-btn {
  border-radius: 0.2em 0 0 0.2em;
  background: linear-gradient(#80E3D1, #53C5B9);
}

.switch-btn .sign-up-btn {
  border-radius: 0 0.2em 0.2em 0;
}

#sign-in,
#sign-up {
  padding-top: 3em;
  color: #FFFFFF;
  display: inline-block;
}

#sign-up {
  display: none;
}

.profile-container {
  margin: 5%;
  padding-top: 75px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  grid-template-areas: "image info" "uploader edit";
}

@media (min-width: 1280px) {
  .profile-container {
    width: calc(100% - 350px - 10%);
  }
}

.profile-pic {
  margin: 1em;
  display: inline-block;
  width: auto;
  grid-area: image;
}

.profile-pic img {
  border-radius: 1em;
}

.username-info {
  width: auto;
  grid-area: info;
  padding-left: 1em;
  padding-top: 2em;
}

.username-info h2 {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 1em;
  border-bottom: 2px solid #2b2e37;
}

.username-info h4 {
  padding-top: 1em;
  text-align: justify;
  line-height: 1.5rem;
}

.edit-profile,
.save-changes {
  font-size: 1em;
  text-align: right;
  margin-left: 40%;
  border: none;
  grid-area: edit;
}

.edit-profile i,
.save-changes i {
  width: auto;
  align-self: center;
  font-size: x-large;
}

textarea {
  margin-top: 2em;
  width: 100%;
  height: 40%;
  border-color: #2b2e37;
}

.image-uploader {
  grid-area: uploader;
  padding-left: 5%;
}

/* The Modal (background) */
.modal {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: .5s ease-in-out;
}

.todo-list {
  background: #FFF;
  font-size: 1em;
  max-width: 15em;
  margin: auto;
  padding: 0.5em 1em;
}

.todo {
  display: block;
  position: relative;
  padding: 0.4em 1em 0.4em 16%;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #ddd;
}

.todo:last-child {
  border-bottom: none;
}

.todo__state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.todo__text {
  color: #135156;
  transition: all 0.4s linear 0.4s;
}

.todo__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: auto;
  margin: auto;
  fill: none;
  stroke: #80E3D1;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.todo__icon_line {
  width: 100%;
}

.todo__line,
.todo__box,
.todo__check {
  transition: stroke-dashoffset 0.8s cubic-bezier(0.9, 0, 0.5, 1);
}

.todo__circle {
  stroke: #80E3D1;
  stroke-dasharray: 1 6;
  stroke-width: 0;
  transform-origin: 13.5px 12.5px;
  transform: scale(0.4) rotate(0deg);
  animation: none 0.8s linear;
}

@keyframes explode {
  30% {
    stroke-width: 3;
    stroke-opacity: 1;
    transform: scale(0.8) rotate(40deg);
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(1.1) rotate(60deg);
  }
}

.todo__box {
  stroke-dasharray: 56.1053, 56.1053;
  stroke-dashoffset: 0;
  transition-delay: 0.16s;
}

.todo__check {
  stroke: #80E3D1;
  stroke-dasharray: 9.8995, 9.8995;
  stroke-dashoffset: 9.8995;
  transition-duration: 0.32s;
}

.todo__line {
  stroke-dasharray: 168, 2684;
  stroke-dashoffset: 168;
}

.todo__circle {
  animation-delay: 0.56s;
  animation-duration: 0.56s;
}

.todo__state:checked ~ .todo__text {
  transition-delay: 0s;
  color: #80E3D1;
  opacity: 0.6;
}

.todo__state:checked ~ .todo__icon .todo__box {
  stroke-dashoffset: 56.1053;
  transition-delay: 0s;
}

.todo__state:checked ~ .todo__icon .todo__line {
  stroke-dashoffset: -8;
}

.todo__state:checked ~ .todo__icon .todo__check {
  stroke-dashoffset: 0;
  transition-delay: 0.48s;
}

.todo__state:checked ~ .todo__icon .todo__circle {
  animation-name: explode;
}
 

 /*# sourceMappingURL= style.css.map */