/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn-bar {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50%;
}

@media (max-width: 960px) {
  .btn-bar {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .btn-bar {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .btn-bar {
    flex-flow: column;
    width: 100%;
  }
}

.btn {
  height: 50px;
  width: 150px;
  line-height: 50px;
  margin: 0 15px;
  vertical-align: middle;
}

.rnd-cornes {
  border-radius: 15px;
}

.shadow-boxes {
  box-shadow: 0 8px 50px 10px rgba(0, 0, 0, 0.3);
}

.shadow-cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-bar {
  background: linear-gradient(#80E3D1, #53C5B9);
  height: 100px;
}

.nav-bar ul {
  height: 100px;
  display: flex;
}

.nav-bar ul li {
  display: flex;
  align-items: center;
}

.nav-bar ul li > * {
  display: inline-block;
}

/**
Main Colors: http://blog.visme.co/website-color-schemes/
#2C3531
#116466
#D9B08C
#FFCB9A
#D1E8E2
*/
html {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
}

body {
  background-color: #E7E9DE;
}

article {
  background-color: #d4d4ca;
}

#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
}

.nav-bar ul #info {
  flex-grow: 1;
}

.nav-bar ul #search {
  flex-grow: 3;
}

.nav-bar ul #user {
  flex-grow: 1;
}

.feed-container {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
}

@media (min-width: 1280px) {
  .feed-container {
    width: calc(100% - 350px);
  }
}

.masonry {
  margin: 0 auto;
  column-count: 4;
  max-width: 1200px;
  column-gap: 15px;
  column-fill: initial;
}

@media (max-width: 1600px) {
  .masonry {
    margin: 0 15px;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 1068px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 640px) {
  .masonry {
    column-count: 1;
  }
}

.masonry-item {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

footer {
  background-color: #D1E8E2;
}

.sidebar-calendar {
  display: none;
  position: fixed;
  top: 100px;
  right: 0;
  background: linear-gradient(to right, #3C3E52, #232539);
  width: 350px;
  height: calc(100vh - 100px);
  z-index: 3000;
}

@media (min-width: 1280px) {
  .sidebar-calendar {
    display: block;
  }
}

.sign-user {
  padding-top: 100px;
}
 

 /*# sourceMappingURL= style.css.map */