body {
	font-family: 'Montserrat', Georgia;
}

body > header {
	padding: 1em;
	background-color: #046DD5;
}

body > header h1 {
	margin: 0;
}

body > header h2 {
	margin: 2px;
	font-size: 14px;
}

#signup {
	font-size: 12px;
	font-weight: lighter;
}

#signup a:nth-child(1) {
	border-style: solid;
	border-right-color: white;
	padding-right: 1em;
	border-width: 0 1px 0 0;
}

#signup a:nth-child(2) {
	padding-left: 1em;
}

body > header a {
	color: white;
	text-decoration: none;
	margin: 0;
}

#menu input {
	display: none;
}

#menu ul {
	margin: 0;
	margin: auto;
	list-style-type: none;
	padding: 0;
}

#menu li {
	text-align: center;
	border-style: solid;
	border-width: thick 0 0 0;
	padding: 0.5em;
}

#menu li:nth-child(1) {border-color: #E1493E;}
#menu li:nth-child(2) {border-color: #8ABA56;}
#menu li:nth-child(3) {border-color: #5B4282;}
#menu li:nth-child(4) {border-color: #FF8932;}
#menu li:nth-child(5) {border-color: #19B6E9;}
#menu li:nth-child(6) {border-color: #E84C8B;}



#menu a {
	color: black;
	text-decoration: none;
}

#related {
	background-color: #2A2F33;
	color: white;
	padding: 1em;
}

#related a {
	color: white;
	text-decoration: none;
}

#related p {
	font-size: 14px;
}

#news article {
	background-color: white;
	margin-bottom: 1em;
}

#news p {
	padding: 0 1em;
}

#news p::first-letter {
	font-size: 250%;
}

footer {
	padding: 12px;
	background-color: #2A2F33;
	color: white;
}

#news footer, footer a {
	font-size: 12px;
	color: white;
	background-color: #F4655F;
}

#footer {
	margin-right: 1em;
}
